<div class ="mycontainer">
    <div class="container">
 <div class="row">
        <!--<div class="col col-md-8 col-lg-8 centering">-->
     <div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6 col-lg-6">
           <!-- <div class="col-sm-offset-4 col-md-offset-4 col-sm-4 col-md-4 col-lg-4">-->
            <div class= "home add_padding">
                 <header class="panel-heading">
                     <img src ="img/contacts2.png" > Kontakt:
                   </header>
                <div  class="panel-body">
                     <img src="img/IHPALogosmall.png">
                    <h5>VR-Nr.: 200736</h5>
                    <h5>Steuer-Nr: 153/109/20867</h5>
                    <br>
                    <img src="img/ludwig.png">
                 <h5><span><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                        <strong> Ludwig Schmidlehner</strong>, Integrationshilfe</h5>
                    <h5><span><i class="fa fa-address-card" aria-hidden="true"></i>
                        </span>Vorsitzender Integrationshilfe Passau e.V.</h5> 
                    <h5><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                        </span>Wilhelm-Niedermayer-Straße 1, 94034 Passau</h5>
                    <h5><span><i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        </span> Lschmidlehner@t-online.de</h5>
                         <h5><span><i class="fa fa-mobile" aria-hidden="true"></i>
                        </span>(0851) 9 88 64 57</h5>
            
         </div>
     </div>
        </div>
    </div>
</div>
</div>